-
    let inputPromoCode = {
        id: 'promo',
        type: 'text',
        className: 'field__text--promo',
        placeholder: ' ',
        label: 'Введите промо-код',
    }


-
    let btnApplyPromoCode = {
        id: 'apply-promo-code',
        type: 'button',
        name: 'apply-promo-code',
        label: 'Применить'
    }


-
    let basketStikyList = [
        {
            title: 'Рюкзак Xiaomi Blade, серый',
            price: 1500,
            imgList: {
                first: 'product-1@x1.jpg',
                second: 'product-1@x2.jpg',
                alt: 'Рюкзак Xiaomi Blade'
            }
        },
        {
            title: 'Часы CASIO W-800,  водонепроницаемые',
            price: 3800,
            imgList: {
                first: 'product-2@x1.jpg',
                second: 'product-2@x2.jpg',
                alt: 'Часы CASIO W-800'
            }
        },
        {
            title: 'Часы CASIO W-800,  водонепроницаемые',
            price: 2200,
            imgList: {
                first: 'product-2@x1.jpg',
                second: 'product-2@x2.jpg',
                alt: 'Часы CASIO W-800'
            }
        },
        {
            title: 'Рюкзак Xiaomi Blade, серый',
            price: 2500,
            imgList: {
                first: 'product-1@x1.jpg',
                second: 'product-1@x2.jpg',
                alt: 'Рюкзак Xiaomi Blade'
            }
        }
    ]


-
    let basketStikyFooter = [
        {
            label: 'Сумма заказа:',
            value: {
                result: 0,
                label: 'руб.',
                subClass: 'js-product-sum'
            }
        },
        {
            label: 'Доставка:',
            value: {
                result: 'Бесплатно',
                subClass: 'js-delivery'
            }
        },
        {
            label: 'Бонусы для начисления:',
            value: {
                result: 158,
                label: 'Б',
                subClass: 'js-bonus'
            }
        },
        {
            label: 'Итого',
            value: {
                result: 0,
                label: 'руб.',
                subClass: 'js-total-sum'
            }
        }
    ]