-
    let payment = [
        {
            type: 'radio',
            id: 'online',
            className: 'field__radio--online',
            name: 'payment',
            checked: true,
            value: 'card-online',
            label: 'Банковской картой онлайн <span>Скидка 3%</span>'
        },
        {
            type: 'radio',
            id: 'cash',
            className: 'field__radio--cash',
            name: 'payment',
            value: 'cash',
            label: 'Наличными при получении'
        },
        {
            type: 'radio',
            id: 'receipt',
            className: 'field__radio--receipt',
            name: 'payment',
            value: 'card-receipt',
            label: 'Банковской картой при получении'
        }
    ]