-
    let deliveryMethod = [
        {
            title: 'Почтой России',
            desc: 'В ближайшее отделение почты России',
            date: 'c 25.02',
            price: '199 руб.',
            subClass: 'js-post-office active',
        },
        {
            title: 'Курьером',
            desc: 'До дверей в удобное для вас время',
            date: 'Завтра',
            price: '299 руб.',
            subClass: 'js-courier',
        },
        {
            title: 'Пункт выдачи',
            desc: 'в 32 пункта выдачи',
            date: 'Завтра',
            price: 'Бесплатно',
            subClass: 'js-point',
        }
    ]