-
    let productsList = [
        {
            title: 'Рюкзак Xiaomi Blade, серый',
            produrnLink: '##',
            infoProduct: [
                {
                    label: 'Артикул:',
                    value: '123456789'
                },
                {
                    label: 'Цвет:',
                    value: 'Серый'
                }
            ],
            price: {
                priceNew: '2900',
                priceOld: '4700',
                priceLabel: 'руб.',
            },
            imgData: {
                first: 'product-1@x1.jpg',
                second: 'product-1@x2.jpg',
                alt: 'Рюкзак Xiaomi Blade',
            }
        },
        {
            title: 'Ботинки для беговых лыж Marax M-350 Active серебро',
            produrnLink: '##',
            infoProduct: [
                {
                    label: 'Артикул:',
                    value: '123456789'
                },
                {
                    label: 'Цвет:',
                    value: 'Серебро'
                }
            ],
            price: {
                priceNew: '1800',
                priceOld: '2700',
                priceLabel: 'руб.',
            },
            imgData: {
                first: 'product-3@x1.jpg',
                second: 'product-3@x2.jpg',
                alt: 'Ботинки для беговых лыж',
            }
        }
    ]