-
    let agreementBox = {
        type: 'checkbox',
        id: 'agreement',
        className: 'field__checkbox--agreement',
        name: 'agreement',
        checked: true,
        label: 'Я согласен на обработку',
        link: '##',
        linkTitle: 'персональных данных'
    }


-
    let btnCheckout = {
        id: 'btn-checkout',
        type: 'submit',
        name: 'checkouto',
        className: 'btn--blue',
        label: 'Оформить заказ'
    }