@require './../../includes/core/reset'
@require './../../includes/core/core'

@require './../../includes/mixins/mix-btn/mix-btns'
@require './../../includes/mixins/mix-input-text/mix-input-text'
@require './../../includes/mixins/mix-radio-btn/mix-radio-btn'
@require './../../includes/mixins/mix-checkbox/mix-checkbox'
@require './../../includes/mixins/mix-textarea/mix-textarea'
@require './../../includes/mixins/mix-order-box/mix-order-box'


@require './../../includes/pages/order/order'


@require './../../includes/modules/mod-get-city/mod-get-city'

@require './../../includes/modules/mod-bascet/mod-basket-stiky'
@require './../../includes/modules/mod-bascet/mod-basket-stiky-list'
@require './../../includes/modules/mod-bascet/mod-basket-stiky-footer'
@require './../../includes/modules/mod-delivery-method/mod-delivery-method'
@require './../../includes/modules/mod-export/mod-export'
@require './../../includes/modules/mod-products/mod-products'
@require './../../includes/modules/mod-products/mod-products-list'
@require './../../includes/modules/mod-counter/mod-counter'

@require './../../includes/modules/mod-simplebar/mod-simplebar'