-
    let inputStreet = {
        id: 'street',
        type: 'text',
        className: 'field__text--street js-field-address',
        placeholder: ' ',
        label: 'Улица',
        required: true
    }


-
    let inputBuilding = {
        id: 'building',
        type: 'text',
        className: 'field__text--building js-field-address js-input-num',
        placeholder: ' ',
        label: 'Дом',
        required: true
    }


-
    let inputFlet = {
        id: 'flet',
        type: 'text',
        className: 'field__text--flet js-field-address js-input-num',
        placeholder: ' ',
        label: 'Квартира',
        required: true
    }


-
    let inputPostcode = {
        id: 'postcode',
        type: 'text',
        className: 'field__text--postcode js-field-postcode js-input-num',
        placeholder: ' ',
        label: 'Индекс',
        required: true
    }