-
    let inputStreet = {
        id: 'street',
        type: 'text',
        className: 'js-user js-law-field js-point',
        fieldName: 'street',
        placeholder: ' ',
        label: 'Улица',
        required: true
    }


-
    let inputBuilding = {
        id: 'building',
        type: 'text',
        className: 'js-user js-law-field js-point js-num',
        fieldName: 'building',
        placeholder: ' ',
        label: 'Дом',
        required: true
    }


-
    let inputFlet = {
        id: 'flet',
        type: 'text',
        className: 'js-user js-law-field js-point js-num',
        fieldName: 'flet',
        placeholder: ' ',
        label: 'Квартира',
        required: true
    }


-
    let inputPostcode = {
        id: 'postcode',
        type: 'text',
        className: 'js-user js-law-field js-point js-courier-field js-num',
        fieldName: 'postcode',
        placeholder: ' ',
        label: 'Индекс',
        required: true
    }