.counter
    .counter__block
        button(type="button").counter__btn.counter__btn--minus
        input.counter__field(type="text" value="1")
        button(type="button").counter__btn.counter__btn--plus
    .counter__label
        span.counter__label-value
        span руб./шт.