-
    let btnMore = {
        type: 'button',
        name: 'more',
        label: 'Подробнее'
    }


-
    let chooseAnother = {
        type: 'button',
        name: 'another',
        label: 'Выбрать другой'
    }