.export-point
    padding 20px 27px 27px 24px
    max-width 570px
    width 100%
    background #fff
    border 2px solid #DDE3E8
    border-radius 3px
    box-sizing border-box

    @media(min-width 650px)
        padding 24px 24px 26px

    &__address
        margin-bottom 12px
        line-height 20px
        font-size 14px
        font-weight 500

        @media(min-width 650px)
            margin-bottom 2px
            line-height 19px
            font-size 16px

    &__label
        margin-bottom 12px
        line-height 13px
        font-size 11px
        color #788995

        @media(min-width 650px)
            line-height 16px
            font-size 13px

    &__work
        margin-bottom 16px
        width 100%
        display flex
        align-items center
        line-height 13px
        font-size 11px

        @media(min-width 650px)
            margin-bottom 20px
            line-height 15px
            font-size 12px

        &-value
            margin-left 4px
            color #788995

    &__line
        @media(min-width 430px)
            display inline-flex
            gap 24px

    .btn
        white-space nowrap

        @media(min-width 430px)
            width 150px

        &:first-child
            margin-bottom 10px

            @media(min-width 430px)
                margin 0
                width 120px