-
    let inputCity = {
        id: 'city',
        type: 'text',
        className: 'js-user js-law-field js-string',
        placeholder: ' ',
        label: 'Населенный пункт',
        required: true
    }