-
    let inputCity = {
        id: 'city',
        type: 'text',
        className: 'field__text--city js-field-general',
        placeholder: ' ',
        label: 'Населенный пункт',
        required: true
    }