.get-city
    h3
        margin-bottom 18px

        @media(min-width 650px)
            margin-bottom 30px

    .field__box
        @media(min-width 920px)
            max-width 100%

        @media(min-width 650px)
            max-width 450px

    .suggestions-promo
        a
            display none