.field__textarea
    padding 10px 24px
    width 100%
    min-height 60px
    line-height 15px
    font-size 12px

    @media(min-width 768px)
        min-height 100px

    @media(min-width 650px)
        min-height 90px

    &:focus
        box-shadow 0px 0px 15px 0 rgba(#0077E2, 0.1)