-
    let inputName = {
        id: 'name',
        type: 'text',
        className: 'field__text--name js-field-name',
        placeholder: ' ',
        label: 'Имя и Фамилия по паспорту',
        required: true
    }

-
    let inputEmail = {
        id: 'email',
        type: 'text',
        className: 'field__text--email js-field-general js-input-email',
        placeholder: ' ',
        label: 'Электронная почта',
        required: true
    }

-
    let inputPhone = {
        id: 'phone',
        type: 'text',
        className: 'field__text--phone js-field-general tel',
        placeholder: ' ',
        label: 'Номер телефона',
        required: true
    }

-
    let inputInn = {
        id: 'inn',
        type: 'text',
        className: 'field__text--inn js-field-law',
        placeholder: ' ',
        label: 'ИНН',
        required: true
    }

-
    let inputCompany = {
        id: 'company',
        type: 'text',
        className: 'field__text--company js-field-law',
        placeholder: ' ',
        label: 'Название организации',
        required: true
    }

-
    let inputPerson = {
        id: 'person',
        type: 'text',
        className: 'field__text--person js-field-law',
        placeholder: ' ',
        label: 'Контактное лицо',
        required: true
    }

-
    let inputAddress = {
        id: 'address',
        type: 'text',
        className: 'field__text--address js-field-law',
        placeholder: ' ',
        label: 'Юридический адрес',
        required: true
    }

-
    let inputCpp = {
        id: 'cpp',
        type: 'text',
        className: 'field__text--cpp',
        placeholder: ' ',
        label: 'КПП',
    }

-
    let inputOgrn = {
        id: 'ogrn',
        type: 'text',
        className: 'field__text--ogrn',
        placeholder: ' ',
        label: 'ОГРН',
    }