-
    let inputName = {
        id: 'name',
        type: 'text',
        className: 'js-user js-string',
        placeholder: ' ',
        label: 'Имя и Фамилия по паспорту',
        required: true
    }

-
    let inputEmail = {
        id: 'email',
        type: 'text',
        className: 'js-user js-law-field js-email',
        placeholder: ' ',
        label: 'Электронная почта',
        required: true
    }

-
    let inputPhone = {
        id: 'phone',
        type: 'text',
        className: 'js-user js-law-field tel',
        placeholder: ' ',
        label: 'Номер телефона',
        required: true
    }

-
    let inputInn = {
        id: 'inn',
        type: 'text',
        className: 'js-law-field',
        placeholder: ' ',
        label: 'ИНН',
        required: true
    }

-
    let inputCompany = {
        id: 'company',
        type: 'text',
        className: 'js-law-field',
        placeholder: ' ',
        label: 'Название организации',
        required: true
    }

-
    let inputPerson = {
        id: 'person',
        type: 'text',
        className: 'js-law-field js-string',
        placeholder: ' ',
        label: 'Контактное лицо',
        required: true
    }

-
    let inputAddress = {
        id: 'address',
        type: 'text',
        className: 'js-law-field',
        placeholder: ' ',
        label: 'Юридический адрес',
        required: true
    }

-
    let inputCpp = {
        id: 'cpp',
        type: 'text',
        className: 'cpp js-law-field js-num',
        placeholder: ' ',
        label: 'КПП',
    }

-
    let inputOgrn = {
        id: 'ogrn',
        type: 'text',
        className: 'ogrn js-law-field js-num',
        placeholder: ' ',
        label: 'ОГРН',
    }